<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shops&Products</title>
</head>
<body>
    <h1> Welcome to Shops&Products </h1>

    <p> Select to see:</p>
    <h3>
        <a href="/shops">Shops</a>
    </h3>
    <h3>
        <a href="/products">Products</a>
    </h3>


</body>
</html>